

body 
    {
        text-align: center;
        font-family: 'Happy Monkey', cursive;
        background: linear-gradient(#FBAB7E, #F7CE68);
        color: #ffffff;
    }

hr
    {
        height: 10px;
        background-color:#ffffff;
        border:none;
    }

h1
    {
        text-shadow: 0 0 3px black;
        font-size: 50px;
    }

h2, h3, h4, p 
    {
        text-shadow: 0 0 1px black;   
    }

    .gift-section 
    {
        margin-top: 50px;
    }

    .gift-title 
    {
        margin-bottom: 10px;
    }

    .gift-hint 
    {
        margin-top: 0;
    }

.italyImg 

    {
        margin: 20px auto;
        max-width: 400px;
        height: 400px;
        border: 6px solid white;
        border-radius: 10px;
        background-image: url("images/ItalyFlag.jpg");
        background-size: cover;
        background-position:center center;
        background-repeat:no-repeat;
        background-clip:content-box;
    }


.peruImg 

    {
        margin: 20px auto;
        max-width: 400px;
        height: 400px;
        border: 6px solid white;
        border-radius: 10px;
        background-image: url("images/PeruFlag.jpg");
        background-size: cover;
        background-position:center center;
        background-repeat:no-repeat;
        background-clip:content-box;
    }


.jordanImg 
    {
        margin: 20px auto;
        max-width: 400px;
        height: 400px;
        border: 6px solid white;
        border-radius: 10px;
        background-image: url("images/JordanFlag.jpg");
        background-size: cover;
        background-position:center center;
        background-repeat:no-repeat;
        background-clip:content-box;
    }

.indiaImg

    {
        margin: 20px auto;
        max-width: 400px;
        height: 400px;
        border: 6px solid white;
        border-radius: 10px;
        background-image: url("images/IndiaFlag.jpg"); 
        background-size: cover;
        background-position:center center;
        background-repeat:no-repeat;
        background-clip:content-box;
    }


.brazilImg 

    {
        margin: 20px auto;
        max-width: 400px;
        height: 400px;
        border: 6px solid white;
        border-radius: 10px;
        background-image: url("images/BrazilFlag.jpg");
        background-size: cover;
        background-position:center center;
        background-repeat:no-repeat;
        background-clip:content-box;
    }


.chinaImg 

    {
        margin: 20px auto;
        max-width: 400px;
        height: 400px;
        border: 6px solid white;
        border-radius: 10px;
        background-image: url("images/ChinaFlag.jpg");
        background-size: cover;
        background-position:center center;
        background-repeat:no-repeat;
        background-clip:content-box;
    }


.mexicoImg 

    {
        margin: 20px auto;
        max-width: 400px;
        height: 400px;
        border: 6px solid white;
        border-radius: 10px;
        background-image: url("images/MexicoFlag.jpg");
        background-size: cover;
        background-position:center center;
        background-repeat:no-repeat;
        background-clip:content-box;
    }



    #italy:hover 
    {
        background-image: url("images/Colosseum.jpg");
    }


    #peru:hover 
    {
        background-image: url("images/MachuPicchu.jpg");
    }


    #jordan:hover 
    {
        background-image: url("images/Petra.jpg");
    }


    #india:hover 
    {
        background-image: url("images/TajMahal.jpg");
    }


    #brazil:hover 
    {
        background-image: url("images/CristoRedentor.jpg");
    }


    #china:hover 
    {
        background-image: url("images/GreatWall.jpg");
    }


    #mexico:hover 
    {
        background-image: url("images/ChichenItza.jpg");

    }


